In [3]:
import numpy as np

In [5]:
array1 = np.full(6, 7)
array1

array([7, 7, 7, 7, 7, 7])

In [6]:
array2 = np.full_like(array1, 1)
array2

array([1, 1, 1, 1, 1, 1])

In [8]:
array_zero = np.zeros(6, dtype=int)
array_zero

array([0, 0, 0, 0, 0, 0])

In [9]:
array_one = np.ones(6, dtype=int)
array_one

array([1, 1, 1, 1, 1, 1])

In [10]:
array_random = np.random.random(6)
array_random

array([0.44970614, 0.73230927, 0.14478353, 0.68633477, 0.96304156,
       0.14503707])

In [11]:
array_arange = np.arange(6)
array_arange

array([0, 1, 2, 3, 4, 5])

In [17]:
array_arange2 = np.arange(1, 8)
array_arange2

array([1, 2, 3, 4, 5, 6, 7])

In [18]:
arr = np.arange(1, 101)
arr

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [19]:
arr = np.arange(3, 100, 3)
arr

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51,
       54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [21]:
array_indexing = np.arange(3, 31, 3)
array_indexing

array([ 6,  9, 12])

In [22]:
array_indexing[[1, 2, 3]]

array([ 6,  9, 12])

In [23]:
indexing = [4, 5, 6]
array_indexing[indexing]

array([15, 18, 21])

In [24]:
array1 = np.arange(10)
array2 = np.arange(10, 20)

In [25]:
array1 + array2

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [26]:
array1 + array2[::-1]

array([19, 19, 19, 19, 19, 19, 19, 19, 19, 19])

In [28]:
revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

yen_array = np.array(revenue_in_yen)
won_array = yen_array * 10.08

won_array

array([3024000., 3427200., 3225600., 3628800., 4435200., 1411200.,
       1814400., 3427200., 3326400., 2923200., 2822400., 3830400.,
       1713600., 1411200., 2318400., 3931200., 4032000., 3528000.,
       3830400., 1512000., 1108800., 2419200., 3830400., 3830400.,
       3427200., 4233600., 1512000., 1310400., 3628800., 3225600.,
       2520000.])

In [29]:
revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

revenue_in_dollar = [
    1200, 1600, 1400, 1300, 
    2100, 1400, 1500, 2100, 
    1500, 1500, 2300, 2100, 
    2800, 2600, 1700, 1400, 
    2100, 2300, 1600, 1800, 
    2200, 2400, 2100, 2800, 
    1900, 2100, 1800, 2200, 
    2100, 1600, 1800
]

yen_array = np.array(revenue_in_yen)
dollar_array = np.array(revenue_in_dollar)

won_array = yen_array * 10.08 + dollar_array * 1138

won_array

array([4389600., 5248000., 4818800., 5108200., 6825000., 3004400.,
       3521400., 5817000., 5033400., 4630200., 5439800., 6220200.,
       4900000., 4370000., 4253000., 5524400., 6421800., 6145400.,
       5651200., 3560400., 3612400., 5150400., 6220200., 7016800.,
       5589400., 6623400., 3560400., 3814000., 6018600., 5046400.,
       4568400.])

In [30]:
array1 = np.arange(1, 30)
array1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [31]:
array1[array1 > 4]

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29])

In [32]:
revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

yen_array = np.array(revenue_in_yen)
bad_days_revenue = yen_array[np.where(yen_array <= 200000)]

bad_days_revenue

array([140000, 180000, 170000, 140000, 150000, 110000, 150000, 130000])